@import "tailwindcss";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Add this part for fadeOut */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}
